<div class="col-sm-1 col-width-override-1-5 verticle-nav">
    <ul class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li>
            <a href="#/package">Package</a>
        </li>
    </ul>
</div>
