<form name="GeneralForm" novalidate>
    <div class="row margin-bottom-10">
        <h3>
            General details
        </h3>

        <div class="col-sm-12">
        </div>

        <div class="form-group">
            <div class="col-md-5 col-xs-4 col-sm-5">
                Bundle Id:
                <label class="control-label">{{bundle.BundleId}}</label>
            </div>
            <div class="col-md-5 col-xs-4 col-sm-5">
                Bundle Type:
                <label class="control-label">{{bundle.BundleType}}</label>
            </div>

            <div class="col-md-5 col-xs-4 col-sm-5">
                Provider Name:
                <label class="control-label">{{bundle.ProviderName}}</label>
            </div>

            <div class="col-md-5 col-xs-4 col-sm-5">
                Provider Id
                <label class="control-label">{{bundle.ProviderId}}</label>
            </div>

        </div>
    </div>

</form>