<form name="GeneralForm" novalidate>
    <div class="row margin-bottom-10">
        <h3>
            Cost without line rental
        </h3>

        <div class="col-sm-12">
        </div>

        <div class="form-group">
            <div class="col-md-5 col-xs-4 col-sm-5">
                Monthly Cost:
                <label class="control-label">{{bundle.CostsWithoutLineRental.MonthlyCost}}</label>
            </div>
            <div class="col-md-5 col-xs-4 col-sm-5">
                Monthly Cost Display:
                <label class="control-label">{{bundle.CostsWithoutLineRental.MonthlyCostDisplay}}</label>
            </div>
        </div>
    </div>

</form>